/* Typography */
$text-main-color: #272727;
$text-secondary-color: #000000;
$text-inverted-color: #FFFFFF;
$text-button-color: #FFFFFF;
$text-button-disabled-color: #A7A7A7;

/* Background */
$background-color: #FFFFFF;

/* Main Button */
$button-disabled-color: #FFFFFF;
$button-disabled-border-color: #E4E7EB;

/* Inputs */
$input-active-background-color: #FFFFFF;
$input-invalid-color: #FF0000;

/* UI Colors */
$color-brand-primary: #0062F5;

$color-ui-100: #F1F5FB;
$color-ui-200: #E1E9F4;
$color-ui-300: #CED7E5;
$color-ui-400: #778191;
$color-ui-600: #222B38;

/* Dimensions */
$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 48px;

$corner-sm: 4px;
$corner-md: 8px;
$corner-lg: 12px;

/* Header */
$header-height-mobile: 40px;
$header-height-desktop: 50px;

/* Z-indexes */
$z-index-header: 10;